<p id="notice"><%= notice %></p>

<h2 class="list_title"><%= @list.title %></h2>
<p class="list_subtitle"><%= @list.description %></p>

<div id="items_wrapper">
	<%= render @list.items %>
	<div id="form">
		<%= render "items/form" %>
	</div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to 'Delete', list_path(@list), method: :delete %> |
  <%= link_to 'Back', lists_path %>
</div>
